@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
   @apply h-full
}

body {
   @apply text-primary bg-white dark:bg-dark
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    /*--primary: 222.2 47.4% 11.2%;*/
    --primary: 220 30% 8%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 220 10% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    /*--primary: 210 40% 98%;*/
    --primary: 240 4% 97%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 220 20% 18%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.truncate-2 {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   align-self: stretch;
   overflow: hidden;
}

.burger-button {
   width: 22px;
   height: 17px;
   position: relative;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .5s ease-in-out;
   -moz-transition: .5s ease-in-out;
   -o-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
}

.burger-button span {
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   background: #CECFD2;
   border-radius: 9px;
   opacity: 1;
   left: 0;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -o-transition: .25s ease-in-out;
   transition: .25s ease-in-out;
}

.burger-button span:nth-child(1) {
   top: 0px;
}

.burger-button span:nth-child(2),
.burger-button span:nth-child(3) {
   top: 8px;
}

.burger-button span:nth-child(4) {
   top: 16px;
}

.burger-button.open span:nth-child(1) {
   top: 18px;
   width: 0%;
   left: 50%;
}

.burger-button.open span:nth-child(2) {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}

.burger-button.open span:nth-child(3) {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.burger-button.open span:nth-child(4) {
   top: 18px;
   width: 0%;
   left: 50%;
}


.form__item {
   @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 justify-items-start pb-5 border-b border-secondary
}

.form__item label {
   padding-top: 10px;
}